node_modules/
.DS_Store
*.log
npm-debug.log*
.env
.env.local
.idea/
.vscode/
dist/
build/
*.swp
*.swo
data/scripts/myscript.js
/home/chiam/Application/SubConverter/.env

data/scripts/*hidden*.js
/home/chiam/Application/SubConverter/logs
data/shortlinks.json